/* !!!! NEEDS TO BE UPDATED !!!! */

#last_modified::before {
content: "LAST MODIFIED: MAY 15, 2024";
}

/* Importing Resources */

@font-face {
  font-family: "Albertus MT";
  src: url('/resources/fonts/AlbertusMT.otf') format("truetype");
}
@font-face {
  font-family: "VCR OSD Mono";
  src: url('/resources/fonts/VCR_OSD_MONO.ttf') format("truetype");
}
@font-face {
  font-family: "Jack Input";
  src: url('/resources/fonts/Jack_Input.ttf') format("truetype");
}

/* main elements */
body {
  font-family: "Albertus MT", "Helvetica";
  background-image: url("/resources/images/dragons_clouds_seamless.jpg");
  margin: 0;
  padding: 0;
}
.main_content {
  position: relative;
  top: 200px;
  max-width: 65%;
  padding: 1em 2em;
  background-color: rgba(42, 53, 85, 0.5);
  margin: auto;
  margin-bottom: 15em;
  border-radius: 1em;
}
h1 {
  background: #181c24;
  padding: 0.4em 0.75em;
  color: #e5074b;
  font-size: 3rem;
  border-radius: 10px;
}
h2 {
  background: #181c24;
  padding: 1em;
  color: #e5074b;
  margin: 3em;
  font-size: 1em;
}
h3 {
  color: #e5074b;
  }
p {
  font-size: 2rem;
  color: #e5074b;
  background: #181c24;
  padding: 1em;
  border-radius: 10px;
}

ul {
  font-size: 2.2rem;
  color: #e5074b;
  background: #181c24;
  padding: 0.25rem;
  border-radius: 10px;
}
li {
  font-size: 2rem;
  color: #e5074b;
  background: #181c24;
  padding: 0.25rem;
  border-radius: 10px;
  margin-left: 3em;
}
details {
  font-size: 2rem;
  color: #e5074b;
  background: #181c24;
  padding: 0.5em;
  border-radius: 10px;
  margin: 1em 0;
}

/* inline stuff */
em {
  color: #5d7fef;
}
strong {
  color: #e209d8;
}
code {
  font-family: 'Jack Input';
  color: rgb(14, 172, 14);
  background-color: rgb(60, 60, 60);
  font-size: 1em;
}

/* alternate styles */
.alternate {
  font-family: 'VCR OSD Mono';
}
a:link .alternate_link {
  text-decoration: none;
  color: #e5074b;
  font-style: normal;
}
a:hover .alternate_link {
  text-decoration: underline;
}

/* button styling */
button {
  font-family: 'VCR OSD Mono';
  position: relative;
  background-color: #e5074b;
  border-radius: 5px;
  box-shadow: #9b0633 0px 4px 0px 0px;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;
  width: 10em;
  height: 4em;
  color: #181c24;
  border: none;
  font-size: 1em;
  font-weight: 900;
}
button:hover {
  background-color: #e209d8;
}
button:active {
  box-shadow: #9b0633 4px 0 4px 0;
}
.clickyButtons {
  margin: 0 auto 1em auto;
  padding: 2em 1em 1em 1em;
  width: 20%;
}

/* link styling */
a:link {
  text-decoration: none;
  font-style: normal;
  color:#e6ac08;
}
a:hover {
  text-decoration: underline;
  color:#e6ac08;
}
a:visited {
  color:#e6ac08;
}

/* tab selector styling */
.tabSelector {
  text-align: center;
  height: 100%;
}
.tabButton {
  font-size: 2em;
  box-shadow: #e77395 5px 5px 0px 4px;
  border: solid;
  border-width: 5px;
  border-color: #31010f;
  width: 90%;
  margin: 8px;
}
.tabButton:hover {
  box-shadow: #ff60cd 5px 5px 0px 4px;
  right: 15px;
}
.tabButton.active {
  background-color: #9807b5;
  box-shadow: #ff60e7 5px 5px 0px 4px;
  right: 20px;
}


/* sidebar styling */
aside {
  position: relative;
  top: 200px;
  background-color: #181c24;
  color: #e5074b;
  width: 12%;
  height: 1250px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: initial;
}
aside p {
  font-size: 15pt;
}
aside h2 {
  font-size: 25pt;
  padding: 10px;
  margin: 0;
  background-color: #1d2233;
}
aside ul {
  font-size: 20pt;
}
aside li {
  font-size: 15pt;
  margin: -7px 0;
}
#rightSidebar {
  float: right;
  margin-right: 15px
}
#rightSidebar li {
  margin-left: 25px;
}
#leftSidebar {
  float: left;
  margin-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* THIS SECTION CONTAINS FORMATTING FOR VARIOUS POSTS */
.creation-side {
  float: right;
  width: 35%;
  height: 100%;
  color: #e5074b;
  border-radius: 10px;
  bottom: 100%;
}
.creation-side p {
  font-size: 20pt;
  margin: 0;
  margin-bottom: 15px;
}
.creation-side iframe {
  width: 97%;
  height: 300px;
  border: #181c24;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.5em;
  margin-right: 10px;
}
.creation-image-desc {
  height: 29rem;
  overflow-y: auto;
  overflow-x: initial;
}
.creation-image {
  width: 60%;
  border: #181c24;
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
}
.creation-title {
  margin: 0em;
  font-size: 2.5em;
  padding: 25px;
  margin-bottom: -0.75em;
  border-radius: 10px;
}
.creation-subtitle {
  margin: 0em;
  margin-bottom: -0.75em;
  font-size: 1.5em;
  padding: 1em;
  padding-left: 50px;
  border-radius: 10px;
}
.creation-date {
  margin: 0em;
  font-size: 0.75em;
  color: white;
  background: #181c24;
  padding: 1em;
  padding-left: 50px;
  border-radius: 10px;
}

#tags {
  color: #FFFFFF;
  font-size: 1em;
  padding-left: 50px;
}


/* header styling */
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8em;
  overflow: hidden;
  background-color: #161a26;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 1em 0 0 0;
  text-decoration: none;
  font-size: 2em;
  font-style: normal;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #26334D;
}

.header a.active {
  color: #e5074b;
  outline: solid #4d5e80 2px;
  padding: 3em 1em;
  margin-top: -5.5em;
  margin-right: 4px;
}

.header-right {
  float: right;
}

.noJS {
  color: white;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* footer styling */

footer {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

.footer {
  font-family: 'VCR OSD Mono';
  font-size: 15pt;
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: #0c0e14;
  border-radius: 0;
}

/* button div styling */
#buttons {
  background: #181c24;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.button img {
  width: 132px;
}

/* scrollbar styling */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9b0633 #2c3759;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5074b;
  border-radius: 26px;
  border: 3px dashed #e5074b;
}