/*
=================
+++   FONTS   +++
=================
*/
@font-face {
    font-family: "Albertus MT";
    src: url('/resources/fonts/Albertus MT.ttf') format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "VCR OSD Mono";
    src: url('/resources/fonts/VCR OSD MONO.ttf') format("truetype");
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono.ttf"), format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Italic.ttf"), format('truetype');
    font-style: italic;
    font-weight: 300 800;
}

/*
=====================
+++   VARIABLES   +++
=====================
*/
:root {
    --foreground: #e5074b;
    --foreground-light: #f7437a;
    --foreground-lighter: #ff759f;
    --foreground-alt: white;
    --background: #04040F;
    --background-dark: #000000;
    --background-light: #101020;
    --background-lighter: #232330;
    --anchor: #e6ac08;
    --background-image: url("/resources/images/dragons_clouds_seamless.jpg");
    --main-font: 'Albertus MT', serif;
    --bitmap-font: 'VCR OSD Mono', sans-serif;
    --mono-font: 'JetBrains Mono', monospace;
}

/*
==================
+++   CURSOR   +++
==================
*/
:root {
    cursor: url('/resources/images/dragon_cursor_auto.png'), auto;
}
button:hover, a:hover, summary:hover {
    cursor: url('/resources/images/dragon_cursor_pointer.png'), auto;
}

/*
==================
+++   HEADER   +++
==================
*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--bitmap-font), var(--main-font), "Helvetica";
}

header a, header a:visited {
    color: var(--foreground);
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    font-style: normal;
}

header > #home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

header > #home:hover {
    background-color: var(--background-lighter);
}

header > #home > img {
    height: 150px;
}

header > #home > span {
    font-size: 2em;
    margin: 0 1em;
}

header > nav {
    margin-left: auto;
    margin-right: 25px;
    height: 100%;
    display: none;
}

header > nav > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent;
}

header > nav > ul > li {
    display: inline-block;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 2em;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
}

header > nav > ul > li:hover {
    background-color: var(--background-lighter);
}

header > nav > ul > li > a {
    display: inline-block;
    height: 100%;
    align-content: center;
    padding: 0 0.5em;
}

#collapsedNav {
    display: block;
    margin-left: auto;
    margin-right: 2em;
    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#collapsedNav > summary {
    font-size: 4em;
}

#collapsedNav > summary::marker {
    content: "";
}

#collapsedNav > div {
    position: absolute;
    top: 0;
    right: 2em;
    margin: 1em;
    font-size: 2em;
    border: 3px solid var(--foreground);
    z-index: 2;
}

#collapsedNav > div > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--background);
    list-style: none;
}

#collapsedNav > div > ul > li > a {
    display: inline-block;
    align-content: center;
    padding: 0.5em;
}

#collapsedNav > div > ul > li:hover {
    background-color: var(--background-lighter);
}

@media (min-width: 1200px) {
    header > nav {
        display: block;
    }
    
    #collapsedNav {
        display: none;
    }
}

@media (max-width: 600px) {
    #home > span {
        display: none;
    }
}

/*
=====================
+++   TOP-LEVEL   +++
=====================
*/
body {
    font-family: var(--main-font), "Helvetica";
    background-image: var(--background-image);
    margin: 0;
    padding: 0;
    color: var(--foreground);
    font-size: 1em;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2em;
}

main > * {
    flex: 2 1 550px;
    background-color: var(--background);
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0.5em;
}

@media (min-width: 1400px) {
    body {
        font-size: 1.25em;
    }
}

@media (min-width: 1700px) {
    main {
        margin: 1em;
        margin-bottom: 2em;
    }
    
    body {
        font-size: 1.5em;
    }
}

main > aside {
    flex: 1 1 220px;
}

main > div:only-child {
    width: 80%;
}

/*
===================
+++   SIDEBAR   +++
===================
*/
.sidebar {
    background-color: var(--background);
    width: 20%;
}

#changelog {
    max-height: 1200px;
    overflow-y: scroll;
}

/*
====================
+++   ELEMENTS   +++
====================
*/
h1 {
    font-size: 1.75em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code {
    font-family: var(--mono-font);
    background-color: var(--background-light);
    padding: 0 0.5em;
    border-radius: 3px;
}

a, a:hover, a:visited {
    color: var(--anchor);
    text-decoration: underline;
}

a:hover {
    font-style: italic;
}

/* Pixel font */
.pixel {
    font-family: var(--bitmap-font);
}

.caps {
    text-transform: uppercase;
}

.focus-only:not(:focus) {
	clip-path: inset(50%);
	white-space: nowrap;
	border-width: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

/* button styling */
button {
    font-family: var(--bitmap-font);
    position: relative;
    background-color: var(--foreground);
    border-radius: 5px;
    box-shadow: #9b0633 0px 4px 0px 0px;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    width: 10em;
    height: 4em;
    color: var(--background-light);
    border: none;
    font-weight: 900;
}
button:hover {
    background-color: #e209d8;
}
button:active {
    box-shadow: #9b0633 4px 0 4px 0;
}

/*
=====================
+++   CREATIONS   +++
=====================
*/
.creation-side {
    flex: 1 1;
    width: 25%;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.creation-side p {
    margin: 0;
    margin-bottom: 15px;
}

.creation-side iframe {
    width: 97%;
    height: 300px;
    margin-right: 10px;
}

.creation-image {
    width: 60%;
}

.creation-title {
    margin: 0.25em 0;
    border-radius: 10px;
}

.creation-subtitle {
    border-radius: 10px;
}
.creation-date {
    margin: 0;
    color: var(--foreground-alt);
}

.creation-tags {
    padding: 0;
}

.creation-tags::before {
    content: "Tags: ";
}

.creation-tags li {
    display: inline;
    margin: 0;
}

.creation-tags li:not(:last-child)::after {
    content: ", ";
}

#tags {
    color: var(--foreground-alt);
    padding-left: 50px;
}

/*
==================
+++   FOOTER   +++
==================
*/
footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}

footer > p {
    font-family: var(--bitmap-font);
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: var(--background-dark);
    border-radius: 0;
}

/* blinkie div styling */
#blinkies {
    text-align: center;
}
.button img {
    width: 132px;
}

/* scrollbar styling */
:root {
    scrollbar-color: #9b0633 #2c3759;
}

/* Blur fast-blinking images */
.flashing {
    filter: blur(0.5em);
}

.flashing:hover {
    filter: blur(0);
}