<!DOCTYPE html>
<html>
  <end-head>
  <body>
    <!-- navbar div -->
    <end-header>
    <div class="main_content" id="creation_page">
        <div class="creation-side">
          <p>$postTitle</p>
          $postLink
          <p class="creation-image-desc">
            $postText
          </p>
          <p id="tags">tags: $postTags</p>
        </div>
        <img class="creation-image" src="/pages/projects/2d/resources/$postFile"/>
    </div>
    <!-- fixed footer here -->
    <footer>
      <p class="footer" id="last_modified"></p>
    </footer>
  </body>
</html>